/*
File name : contact.component.css
Author's name : Junyeong Yu
Web site name : Portfolio
File description : Style of contact information
*/

/* 5. Contact Me */
.section-contact {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(resources/img/contact-bg.jpg) no-repeat center center;
    background-size: cover;
}

.section-contact h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.section-contact ul {
    margin-bottom: 0;
}

.section-contact .contact-form {
    margin-top: 1.5em;
}
.section-contact .contact-form .btn-primary {
    margin-top: 0.6em;
    width: 100%;
}
.section-contact .contact-social {
    margin-top: 2em;
    float: right;
}
.section-contact .contact-social .contact-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    .section-contact .contact-social .contact-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .section-contact h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }
	.section-contact .contact-social {
	    width: 100%;
	}
	.section-contact .contact-social .contact-social-buttons {
        width: 100%;
        text-align: center;
    }
    .section-contact .contact-social .contact-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    .section-contact ul.contact-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .section-contact ul.contact-social-buttons > li .btn {
        width: 96%;
    }
}