body,
html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 17px; /*18px*/
    font-weight: 400;
    margin-bottom: 11px;
}

/* For 1.Land Page & 5. Contact Me */
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* For 2. About Me, 3. Projects & 4. Services */
.section-heading {
    margin-bottom: 30px;
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

/* Footer */
footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

footer p.copyright {
    margin: 15px 0 0;
}